h1 {
color: blue;
}

p {
    color: palevioletred;
}
img{
width: 250px;
height: auto;
}

bigtitle {
    color: lightskyblue
}

body {
    background-color: aquamarine;
    text-align: center;
    margin: 10px auto;
}

#titlebox {
background-color: aquamarine;
margin: 5px;
border: 15px solid wheat;
}

.listbox {
background-color:plum;
margin: 35px;
border: 1px dotted rgb(216, 112, 147);
}